<header>
    <div class="header-background">
        <img src="assets/Virtualisation.png" alt="">

        <h1>Albums photos <span>scolaires</span></h1>
    </div>
</header>

<div class="content">

    <div class="navigation-menu">
        <div class="first">
            <nav>
                <span [routerLink]="['/photos']" routerLinkActive="active-span">
                    Photos
                </span>
                <span [routerLink]="['/albums']" routerLinkActive="active-span">
                    Albums partagés
                </span>
            </nav>
        </div>

      <button class="bouton" (click)="openDynamicForm()">
        {{ currentRoute.includes('/albums') ? 'Ajouter un album' : 'Ajouter une photo' }}
      </button>

    </div>
    <router-outlet />
</div>



<div class="noir" (click)="uiService.close_forms(); resetdata();"></div>

<div class="form upload-image">
    <h4>Uploader une image</h4>
    <p>Vous ne pouvez ajouter qu'une seule image à la fois</p>

    <div class="form-contain">
      <div class="img-contain" [style.background-image]="'url(' + previewUrl + ')'">

        </div>

        <input type="file" accept="image/*" (change)="onFileSelected($event)" required><br>

        <button class="bouton" (click)="upload()">Enregistrer</button>
      <p *ngIf="uploadSuccess" class="success-message">Image envoyée avec succès !</p>

    </div>
</div>
<div class="form upload-album">
  <h4>Créer un album</h4>
  <p>Nom de l'album :</p>
  <div class="form-contain">
    <input type="text" placeholder="Nom de l'album" /><br>
    <button class="bouton">Créer</button>
  </div>
</div>

