<div class="entete">
    <h3>Photos</h3>
    <span class="nbre-total">
        05 photos en tout
    </span>
</div>

<div class="grid">
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>
    <div class="img">
        <div>
            <button class="bouton">Supprimer</button>
        </div>
    </div>



</div>